@model BookStore.Models.ProductCategory
<form id="CreateOrEdit" asp-route-id="@Model.CategoryId" asp-action="CreateOrEdit" method="post" asp-controller="ProductCategory" enctype="multipart/form-data">
    <div class="modal-body" id="modalBody">
        <div class="form-group">
            <label>Category Name</label>
            <input type="hidden" class="form-control inputName" asp-for="CategoryId">
            <input type="text" class="form-control inputName" asp-for="Name" value="@Model.Name" placeholder="Nhập tên">
        </div>
        <div class="form-group">
            <label>Url Friendly</label>
            <input type="text" class="form-control inputUrl" name="UrlFriendly" asp-for="UrlFriendly" readonly placeholder="Url Friendly">
        </div>
        <div class="form-group">
            <label>Parent Category</label>
            <select class="form-control" asp-for="ParentId">
                @foreach (var p in ViewBag.category)
                {
                    if (Model.ParentId != null && Model.ParentId == p.ParentId)
                    {
                        <option selected value="@p.CategoryId">@p.Name</option>
                    }
                    else
                    {
                        <option value="@p.CategoryId">@p.Name</option>
                    }
                }
            </select>
        </div>
        <div class="form-check">
            <label class="form-check-label">Trạng thái hiển thị  </label>
            @{
                string tmp = "";
                if (Model.Status == true)
                {
                    tmp = "checked";
                }
            }
            <input name="Status" type="checkbox" @tmp value="true">
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" data-id="@Model.CategoryId" class="btn btn-primary btnSubmit">Submit</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
</form>
<script src="~/js/Tools/SlugString.js"></script>
<script>
    $(function () {
        $(".inputName").change(function () {
            var string = $(this).val();
            $(".inputUrl").val(ChangeStringToSlug(string));
        });

        $('#CreateOrEdit').on('keyup keypress', function (e) {
            var keyCode = e.keyCode || e.which;
            if (keyCode === 13) {
                e.preventDefault();
                return false;
            }
        });
        $('.btnSubmit').click(function (e) {
            e.preventDefault();
            debugger;
            var productCategory = $("#CreateOrEdit").serialize();
            $.ajax({
                url: "/Admin/ProductCategory/CreateOrEdit",
                type: "POST",
                data: productCategory,
                success: function () {

                },
                error: function () {

                }
            });
        });
    })
</script>
