<div class="new-book-area pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title bt text-center pt-100 mb-30 section-title-res">
                    <h2>Giảm Giá Hot</h2>
                </div>
            </div>
        </div>
        <div class="tab-active owl-carousel">
            @for (int i=0;i<Model.Count;i+=2)
             {
                var p = Model[i];
                var q = Model[i+1];
             <div class="tab-total">
                <!-- single-product-start -->
                <div class="product-wrapper mb-40" title="@p.ProductName">
                    <div class="product-img">
                        <a href="#">
                            <img src="~/Image/@p.ImageCover" alt="@p.ImageCover" class="primary" style="margin:5px;height:220px;width:160px; text-align:center;" />
                        </a>
                        <div class="quick-view" style="cursor:pointer;">
                            <a class="action-view quickViewModal" data-id="@p.ProductId" data-target="#productModal" data-toggle="modal" title="Quick View">
                                <i class="fa fa-search-plus"></i>
                            </a>
                        </div>
                        @if (p.Discount != 0)
                        {
                            <div class="product-flag">
                                <ul>
                                    <li><span class="discount-percentage">@p.Discount %</span></li>
                                </ul>
                            </div>
                        }
                    </div>
                    <div class="product-details text-center">
                        <div class="divAreaContent">
                            <a asp-action="DetailPage" asp-controller="Products" asp-route-loai="@p.Category.UrlFriendly" asp-route-hanghoa="@p.UrlFriendly">@p.ProductName</a>
                        </div>
                        <div class="product-price">
                            <ul>
                                @{var price = String.Format("{0:0,0 VNĐ}", p.Price);}
                                @if (p.Discount != 0)
                                {
                                    var promotionPrice = String.Format("{0:0,0 VNĐ}", p.PromotionPrice);
                                    <li style="font-family:Arial; font-weight:normal;">@promotionPrice</li>
                                    <li class="old-price" style="font-family:Arial; font-weight:normal;">@price</li>
                                }
                                else
                                {
                                    <li style="font-family:Arial; font-weight:normal;">@price</li>
                                }

                            </ul>
                        </div>
                    </div>
                    <div class="product-link">
                        <div class="product-button">
                            <a onclick="onClickAddToCart(@p.ProductId,1)" style="cursor:pointer;" title="Add to cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                        </div>
                        <div class="add-to-link">
                            <ul>
                                <li><a asp-action="DetailPage" asp-controller="Products" asp-route-loai="@p.Category.UrlFriendly" asp-route-hanghoa="@p.UrlFriendly" title="Details"><i class="fa fa-external-link"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- single-product-end -->
                <!-- single-product-start -->
                <div class="product-wrapper" title="@q.ProductName">
                    <div class="product-img">
                        <a href="#">
                            <img src="~/Image/@q.ImageCover" alt="@q.ImageCover" class="primary" style="margin:5px;height:220px;width:160px; text-align:center;" />
                        </a>
                        <div class="quick-view" style="cursor:pointer;">
                            <a class="action-view quickViewModal" data-id="@q.ProductId" data-target="#productModal" data-toggle="modal" title="Quick View">
                                <i class="fa fa-search-plus"></i>
                            </a>
                        </div>
                        @if (q.Discount != 0)
                        {
                            <div class="product-flag">
                                <ul>
                                    <li><span class="discount-percentage">@q.Discount %</span></li>
                                </ul>
                            </div>
                        }
                    </div>
                    <div class="product-details text-center">
                        <div class="divAreaContent">
                            <a href="#">@q.ProductName</a>
                        </div>
                        <div class="product-price">
                            <ul>
                                @{var priceQ = String.Format("{0:0,0 VNĐ}", q.Price);}
                                @if (q.Discount != 0)
                                {
                                    var promotionPrice = String.Format("{0:0,0 VNĐ}", q.PromotionPrice);
                                    <li style="font-family:Arial; font-weight:normal;">@promotionPrice</li>
                                    <li class="old-price" style="font-family:Arial; font-weight:normal;">@priceQ</li>
                                }
                                else
                                {
                                    <li style="font-family:Arial; font-weight:normal;">@priceQ</li>
                                }

                            </ul>
                        </div>
                    </div>
                    <div class="product-link">
                        <div class="product-button">
                            <a onclick="onClickAddToCart(@q.ProductId,1)" style="cursor:pointer;" title="Add to cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                        </div>
                        <div class="add-to-link">
                            <ul>
                                <li><a href="product-details.html" title="Details"><i class="fa fa-external-link"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- single-product-end -->
             </div>  
             }
        </div>
    </div>
</div>
