@model IEnumerable<Feedback>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">

<div class="row bodyContent">
    <div class="col-md-12">
        <div class="box">
            <div class="box-title">
                <h3><i class="fa fa-table"></i> Dynamic Table</h3>
                <div class="box-tool">
                    <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                    <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="box-content">
                <div class="btn-toolbar pull-right clearfix">
                    <div class="btn-group">
                        <a class="btn btn-circle show-tooltip btnAdd" data-target="#modalDetail" data-toggle="modal" title="Add new record" href="#"><i class="fa fa-plus"></i></a>
                        <a class="btn btn-circle show-tooltip" title="Edit selected" href="#"><i class="fa fa-edit"></i></a>
                        <a class="btn btn-circle show-tooltip" title="Delete selected" href="#"><i class="fa fa-trash-o"></i></a>
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-circle show-tooltip" title="Print" href="#"><i class="fa fa-print"></i></a>
                        <a class="btn btn-circle show-tooltip" title="Export to PDF" href="#"><i class="fa fa-file-text-o"></i></a>
                        <a class="btn btn-circle show-tooltip" title="Export to Exel" href="#"><i class="fa fa-table"></i></a>
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-circle show-tooltip" title="Refresh" href="#"><i class="fa fa-repeat"></i></a>
                    </div>
                </div>
                <br /><br />
                <div class="clearfix"></div>
                <div class="table-responsive" style="border:0">
                    <table class="table table-advance" id="tablePublishers">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Context Subject</th>
                                <th>Context Message</th>
                                <th>Created Date</th>
                                <th class="text-center">Reply</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody id="content">
                            @foreach (var p in Model)
                            {
                                string subject = p.ContextSubject;
                                string message = p.ContextMessage;
                                if (p.ContextSubject.Length > 20)
                                {
                                    subject = subject.Substring(0, 20) + "...";
                                }
                                if (p.ContextMessage.Length > 25)
                                {
                                    message = message.Substring(0, 25) + "...";
                                }

                                <tr class="table-flag-blue">
                                    <td><b>@p.FeedbackId</b></td>
                                    <td>@p.Name</td>
                                    <td>@p.Email</td>
                                    <td>@p.Phone</td>
                                    <td>@subject</td>
                                    <td>@message</td>
                                    <td>@p.CreatedDate</td>


                                    @if (p.Reply == true)
                                    {
                                        <td class="text-center"><input name="Status" type="checkbox" checked disabled></td>
                                    }
                                    else
                                    {
                                        <td class="text-center"><input name="Status" type="checkbox" disabled></td>
                                    }
                                    <td class="text-center">
                                        <div class="btn-group">
                                            <p>
                                                <button class="btn btn-primary btnDetail" data-id="@p.FeedbackId" data-target="#modalDetail" data-toggle="modal"><i class="fa fa-eye"></i> Detail</button>
                                                <button class="btn btn-danger btnDelete" data-id="@p.FeedbackId" data-name="@p.Name"><i class="fa fa-trash-o"></i> Delete</button>
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END Main Content -->
<!-- Modal -->
<div class="modal fade" id="modalDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Chi tiết phản hồi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modalBody">
                ...
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="~/Admin/assets/data-tables/bootstrap3/dataTables.bootstrap.js"></script>
    <script src="~/Admin/js/Feedback.js"></script>
}

