<link rel="stylesheet" href="~/Admin/assets/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="~/Admin/assets/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="~/Admin/css/flaty-responsive.css">
<link href="~/Admin/css/flaty1.css" rel="stylesheet" />

@model BookStore.Models.Product
<div class="modal-body" id="modalBody">
    <div style="padding: 0 15px 0 15px">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group row">
                    <label class="col-sm-6"><b>Tên Sản Phẩm: </b></label>
                    <div class="col-sm-4">
                        <p>@Model.ProductName</p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-6"><b>Loại Sản Phẩm: </b></label>
                    <div class="col-sm-4">
                        <p>@Model.Category.Name</p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-6"><b>Nhà Xuất Bản: </b></label>
                    <div class="col-sm-4">
                        <p>@Model.Publisher.PublisherName</p>
                    </div>
                </div>

            </div>
            <div class="col-lg-6">
                <div class="form-group row">
                    <label class="col-sm-6"><b>Bao gồm VAT: </b></label>
                    <div class="col-sm-5">
                        @{
                            var vat = Model.IncludeVat == true ? "checked" : "";
                        }
                        <input type="checkbox" readonly="" @vat>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-7 col-form-label"><b>Tình Trạng: </b></label>
                    <div class="col-sm-5">
                        @{
                            var status = Model.Status == true ? "Active" : "No Active";
                        }
                        <input type="text" readonly="" class="form-control-plaintext" value="@status">
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group row">
                    <label class="col-sm-7 col-form-label"><b>Giá Sản Phẩm: </b></label>
                    <div class="col-sm-5">
                        <input type="text" readonly="" class="form-control-plaintext" value="@Model.Price VNĐ">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-7 col-form-label"><b>Giảm %: </b></label>
                    <div class="col-sm-5">
                        <input type="text" readonly="" class="form-control-plaintext" value="@Model.Discount %">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-7 col-form-label"><b>Giá Giảm: </b></label>
                    <div class="col-sm-5">
                        <input type="text" readonly="" class="form-control-plaintext" value="@Model.PromotionPrice VNĐ">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group row">
                    <label class="col-sm-7 col-form-label"><b>Số Lượng: </b></label>
                    <div class="col-sm-5">
                        <input type="text" readonly="" class="form-control-plaintext" value="@Model.Quantity">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-7 col-form-label"><b>Đơn Vị Tính: </b></label>
                    <div class="col-sm-5">
                        <input type="text" readonly="" class="form-control-plaintext" value="@Model.Unit">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-7 col-form-label"><b>Lượt Xem: </b></label>
                    <div class="col-sm-5">
                        <input type="text" readonly="" class="form-control-plaintext" value="@Model.ViewCounts">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    @foreach (var o in Model.ProductImages)
                    {
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="~/Image/@o.ProductImage" alt="@Model.ProductName">
                        </div>
                        <div class="item active">
                            <img src="~/Image/@o.ProductImage" alt="@Model.ProductName">
                        </div>
                    }

                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    @foreach (var o in Model.ProductImages)
                    {
                        <div class="item active">
                            <img src="~/Image/@o.ProductImage" alt="@Model.ProductName">
                        </div>
                    }
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div>
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>
