@model IEnumerable<BookStore.Models.Product>
<!-- BEGIN Main Content -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-title">
                <h3><i class="fa fa-table"></i>Table Product</h3>
                <div class="box-tool">
                    <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                    <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="box-content">
                <div class="btn-toolbar pull-right clearfix">
                    <div class="btn-group">
                        <a class="btn btn-circle show-tooltip" title="Add new record" href="#"><i class="fa fa-plus"></i></a>
                        <a class="btn btn-circle show-tooltip" title="Edit selected" href="#"><i class="fa fa-edit"></i></a>
                        <a class="btn btn-circle show-tooltip" title="Delete selected" href="#"><i class="fa fa-trash-o"></i></a>
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-circle show-tooltip" title="Print" href="#"><i class="fa fa-print"></i></a>
                        <a class="btn btn-circle show-tooltip" title="Export to PDF" href="#"><i class="fa fa-file-text-o"></i></a>
                        <a class="btn btn-circle show-tooltip" title="Export to Exel" href="#"><i class="fa fa-table"></i></a>
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-circle show-tooltip" title="Refresh" href="#"><i class="fa fa-repeat"></i></a>
                    </div>
                </div>
                <br /><br />
                <div class="clearfix"></div>
                <div class="table-responsive" style="border:0">
                    <table class="table table-advance" id="tablePublishers">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Url Friendly</th>
                                <th>Price (VNĐ)</th>
                                <th>Unit</th>
                                <th>Quantity</th>
                                <th>Publisher</th>
                                <th class="text-center">Status</th>
                                <th class="text-center" width="23%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var p in Model)
                            {
                                var price = String.Format("{0:0,0}", p.Price);
                            <tr class="table-flag-blue">
                                <td><b>@p.ProductId</b></td>
                                <td>@p.ProductName</td>
                                <td>@p.UrlFriendly</td>
                                <td>@price</td>
                                <td>@p.Quantity</td>
                                <td>@p.Unit</td>
                                <td>@p.Publisher.PublisherName</td>
                                @if (p.Status == true)
                                {
                                    <td class="text-center"><span class="label label-success">Hoạt động</span></td>
                                }
                                else
                                {
                                    <td class="text-center"><span class="label label-warning">Không hoạt động</span></td>
                                }
                                <td class="text-center">
                                    <div class="btn-group">
                                        <p>
                                            <button class="btn btn-magenta btnDetail" onclick="onDetailProduct(@p.ProductId)" data-id="@p.ProductId" data-target="#modalDetail" data-toggle="modal"><i class="fa fa-eye"></i> Detail</button>
                                            <a class="btn btn-primary" asp-controller="Products" asp-action="Edit" asp-route-id="@p.ProductId"><i class="fa fa-edit"></i> Edit</a>
                                            <button class="btn btn-danger btnDelete" data-id="@p.ProductId" data-name="@p.ProductName"><i class="fa fa-trash-o"></i> Delete</button>
                                        </p>
                                    </div>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END Main Content -->
<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="modalDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thông tin</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modalBody">
                ...
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="~/Admin/assets/data-tables/bootstrap3/dataTables.bootstrap.js"></script>
    <script src="~/Admin/js/Product.js"></script>
}
