@model BookStore.Models.Orders
@{
    ViewData["Title"] = "Order";
    ViewData["Child"] = "Edit";
}
@{
    IEnumerable<OrderDetail> OrderDetails = ViewBag.orderDetails as List<OrderDetail>;
}

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-title">
                <h3><i class="fa fa-plus"></i>Edit Order</h3>
                <div class="box-tool">
                    <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                    <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="box-content">
                <div class="table-responsive" style="border:0">
                    <form asp-action="Edit" method="post" id="formOrder" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="OrderId" />
                        <input type="hidden" asp-for="CustomerId" />
                        <div class="row">
                            <div class="col-lg-6">
                                <input asp-for="EmployeeId" type="hidden" class="form-control" readonly />
                                <div class="form-group">
                                    <h5>Mã hóa đơn</h5>
                                    <input asp-for="OrderId" class="form-control" readonly />
                                </div>
                                <div class="form-group">
                                    <h5>Tên Khách hàng</h5>
                                    <input asp-for="Name" id="CusName" class="form-control" />
                                    <label id="errorName" style="color:red;display:none ">Vui lòng nhập tên khách hàng</label>
                                </div>
                                <div class="form-group">
                                    <h5>Tên nhân viên</h5>
                                    <input class="form-control" value="@ViewData["EmployeeName"]" readonly />
                                </div>
                                <div class="form-group">
                                    <h5>Địa chỉ</h5>
                                    <input asp-for="Address" id="CusAddress" class="form-control inputUrl" />
                                    <label id="errorAddress" style="color:red;display:none">Vui lòng nhập địa chỉ</label>
                                </div>
                                <div class="form-group">
                                    <h5>Email</h5>
                                    <input asp-for="Email" id="CusEmail" class="form-control" />
                                    <label id="errorEmail" style="color:red;display:none">Email không hợp lệ</label>
                                </div>
                                <div class="form-group">
                                    <h5>Số điện thoại</h5>
                                    <input asp-for="Phone" id="CusPhone" class="form-control" />
                                    <label id="errorPhone" style="color:red;display:none">Số điện thoại không hợp lệ</label>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <h5>Phương thức giao hàng</h5>
                                    <select name="ShipMethod" class="form-control">
                                        @if (Model.ShipMethod == "Bike")
                                        {
                                            <option value="Bike" selected>Xe máy</option>
                                            <option value="Xe tải">Xe tải</option>
                                        }
                                        else
                                        {
                                            <option value="Bike">Xe máy</option>
                                            <option value="Xe tải" selected>Xe tải</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    <h5>Trạng thái đơn hàng</h5>
                                    <select name="OrderStatus" class="form-control">
                                        @if (Model.OrderStatus == 1)
                                        {
                                            <option value="1" selected>Đã thanh toán</option>
                                            <option value="0">Chưa thanh toán</option>
                                        }
                                        else
                                        {
                                            <option value="1">Đã thanh toán</option>
                                            <option value="0" selected>Chưa thanh toán</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    <h5>Phí Ship</h5>
                                    <input asp-for="ShipCost" class="form-control" />
                                    <span asp-validation-for="ShipCost" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <h5>Ghi chú</h5>
                                    <input asp-for="Comment" class="form-control inputPrice" />
                                    <span asp-validation-for="Comment" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <h5>Ngày giao hàng dự kiến:</h5>
                                    <input asp-for="ShipDate" type="date" class="form-control" />
                                    <span asp-validation-for="ShipDate" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <h5>Phương thức thanh toán</h5>
                                    <input asp-for="PayMethod" class="form-control" readonly />
                                    <span asp-validation-for="PayMethod" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="page-header text-center">
                                <h3>Danh sách sản phẩm đã chọn <small></small></h3>
                            </div>
                            <div class="container">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Tên sản phẩm</th>
                                            <th scope="col">Mã sản phẩm</th>
                                            <th scope="col">Số lượng</th>
                                            <th scope="col">Tùy chọn</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ var count = 1;}
                                        @foreach (var item in OrderDetails)
                                        {
                                            <tr class="row-@item.ProductId">
                                                <th scope="row">@(count++)</th>
                                                <td>@item.Product.ProductName</td>
                                                <td>@item.ProductId</td>
                                                <td>
                                                    <input type="number" class="form-control product-quantity" data-id="@item.ProductId" value="@item.Quantity" />
                                                </td>
                                                <td>
                                                    <span class="glyphicon glyphicon-remove btnRemove" data-id="@item.ProductId" aria-hidden="true"></span>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <input type="hidden" name="ArrDeleteItem" value="," />
                                <input type="hidden" name="ArrEditItemId" value="," />
                                <input type="hidden" name="ArrEditItemQuantity" value="," />
                            </div>
                        </div>
                        <div class="form-group">
                            <br />
                            <button class="btn btn-primary btnSave"><i class="fa fa-save"></i> Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- The Modal -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    const ArrEditItemId = new Array();
    const ArrEditItemQuantity = new Array();
    const ArrDeleteItem = new Array();
    $(".btnRemove").on("click",function () {
        let productId = $(this).data("id");
        var index = ArrEditItemId.findIndex(k => k == productId);
        if (index != -1) {
            ArrEditItemId.splice(index, 1);
            ArrEditItemQuantity.splice(index, 1);
        }
        ArrDeleteItem.push(productId);
        $(this).closest("tr").hide();
    });

    $(".product-quantity").change(function () {
        let quantity = $(this).val();
        let productId = $(this).data("id");
        var index = ArrEditItemId.findIndex(k => k == productId);
        if (index != -1) {
            ArrEditItemQuantity[index] = quantity;
        }
        else {
            ArrEditItemId.push(productId);
            ArrEditItemQuantity.push(quantity);
        }
    });
    //Hàm tắt enter= submit cho form
    $('#formOrder').on('keyup keypress', function (e) {
        var keyCode = e.keyCode || e.which;
        if (keyCode === 13) {
            e.preventDefault();
            return false;
        }
    });
    function validate() {
        let isValid = true;
        let name = $("#CusName").val();
        let address = $("#CusAddress").val();
        let phone = $("#CusPhone").val();
        //validate name
        if (name.length > 0) {
            $("#errorName").css('display', 'none');
        }
        else {
            $("#errorName").css('display', 'block');
            isValid = false;
        }

        //validate address
        if (address.length > 0) {
            $("#errorAddress").css('display', 'none');
        }
        else {
            $("#errorAddress").css('display', 'block');
            isValid = false;
        }

        //validate phone
        let pattern = /0[3789][0-9]{8}$/;
        if (pattern.test(phone)) {
            $("#errorPhone").css('display', 'none');
        }
        else {
            $("#errorPhone").css('display', 'block');
            isValid = false;

        }
        return isValid;
    }
    function validateEmail() {
        let isValidEmail = true;
        let email = $("#CusEmail").val();
        //validate email
        let patternEmail = /^[a-z][a-z0-9_\.]{3,32}@@[a-z0-9]{2,}(\.[a-z0-9]{2,4}){1,2}$/gm;
        if (patternEmail.test(email)) {
            $("#errorEmail").css('display', 'none');
        }
        else {
            isValidEmail = false;
            $("#errorEmail").css('display', 'block');
        }
        return isValidEmail;
    }

    $('.btnSave').on('click', function (e) {
        e.preventDefault();
        //form validation
        var emailCus = $("#CusEmail").val();
            debugger
        if (emailCus.length > 0) {
            if (validateEmail()) {
                if (validate()) {
                    if (ArrDeleteItem.length > 0) {
                        var str = $("[name='ArrDeleteItem']").val().toString();
                        $("[name='ArrDeleteItem']").val(str + ArrDeleteItem.toString() + ",");
                    }
                    if (ArrEditItemId.length > 0) {
                        var str = $("[name='ArrEditItemId']").val().toString();
                        $("[name='ArrEditItemId']").val(str + ArrEditItemId.toString() + ",");
                    }
                    if (ArrEditItemQuantity.length > 0) {
                        var str = $("[name='ArrEditItemQuantity']").val().toString();
                        $("[name='ArrEditItemQuantity']").val(str + ArrEditItemQuantity.toString() + ",");
                    }
                    $("#formOrder").submit();
                }
            };
        }
        else {
            $("#errorEmail").css('display', 'none');
            if (validate()) {
                if (ArrDeleteItem.length > 0) {
                    var str = $("[name='ArrDeleteItem']").val().toString();
                    $("[name='ArrDeleteItem']").val(str + ArrDeleteItem.toString() + ",");
                }
                if (ArrEditItemId.length > 0) {
                    var str = $("[name='ArrEditItemId']").val().toString();
                    $("[name='ArrEditItemId']").val(str + ArrEditItemId.toString() + ",");
                }
                if (ArrEditItemQuantity.length > 0) {
                    var str = $("[name='ArrEditItemQuantity']").val().toString();
                    $("[name='ArrEditItemQuantity']").val(str + ArrEditItemQuantity.toString() + ",");
                }
                $("#formOrder").submit();
            }
        }
    });

</script>