@{
    Layout = null;
}

@model Employee

<form id="formAdd" enctype="multipart/form-data">
    <div class="modal-body">
        <br />
        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    <div class="text-center">
                        @if (String.IsNullOrEmpty(Model.Image))
                        {
                            <img id="image_upload_preview" src="https://cdn1.iconfinder.com/data/icons/navigation-elements/512/user-login-man-human-body-mobile-person-512.png" style="width: 200px; height: 200px;" class="avatar img-circle" alt="avatar">
                        }
                        else
                        {
                            <img id="image_upload_preview" src="~/Image/Employee/@Model.Image" style="width: 200px; height: 200px;" class="avatar img-circle" alt="avatar">
                        }

                        <h6>Upload a different photo...</h6>
                        <input type="file" name="file" data-name="Add" class="form-control" asp-for="Image" onchange="ReadImage(this)">
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <label>Giới tính</label>
                    <select class="form-control" asp-for="Sex">
                        @if (Model.Sex == true)
                        {
                            <option selected value="true">Nam</option>
                            <option value="false">Nữ</option>
                        }
                        else
                        {
                            <option selected value="false">Nữ</option>
                            <option value="true">Nam</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label>Số điện thoại</label>
                    <input type="text" class="form-control" asp-for="Phone" value="@Model.Phone" placeholder="Nhập số điện thoại">
                    <label id="errorPhoneNumber" style="color:red;display:none ">Số điện thoại không hợp lệ</label>
                </div>


            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Họ nhân viên</label>
                            <input type="text" class="form-control" asp-for="LastName" value="@Model.LastName" required placeholder="Nhập họ">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Tên nhân viên</label>
                            <input type="hidden" class="form-control inputName" asp-for="EmployeeId" value="@Model.EmployeeId">
                            <input type="text" class="form-control" asp-for="FirstName" value="@Model.FirstName" required placeholder="Nhập tên">
                            <label id="errorFirstName" style="color:red;display:none ">Vui lòng nhập tên nhân viên</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Tài khoản</label>
                            <input type="text" class="form-control" asp-for="UserName" value="@Model.UserName" />
                            <label id="errorUserName" style="color:red;display:none ">Vui lòng nhập tài khoản khách hàng</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Mật khẩu</label>
                            <input type="password" class="form-control" asp-for="Password" value="@Model.Password" placeholder="Nhập mật khẩu">
                            <label id="errorPassword" style="color:red;display:none ">
                                Xin vui lòng dùng mật khẩu khác
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Kích hoạt</label>
                            <select class="form-control" asp-for="IsActive">
                                @if (Model.IsActive == true)
                                {
                                    <option selected value="true">Đã kích hoạt</option>
                                    <option value="false">Chưa kích hoạt</option>
                                }
                                else
                                {
                                    <option selected value="false">Chưa kích hoạt</option>
                                    <option value="true">Đã kích hoạt</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Ngày sinh</label>
                            <input class="form-control" asp-for="BirthDate" type="date" value="@Model.BirthDate?.ToString("yyyy-MM-dd")">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Cấp bậc</label>
                            <select class="form-control" asp-for="Role" asp-items="ViewBag.RoleId"></select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group ManagerList">
                            <label>Quản lý bởi</label>
                            <select class="form-control" asp-for="ManagerId" asp-items="ViewBag.ManageId"></select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" asp-for="Email" value="@Model.Email" placeholder="Nhập email">
                    <label id="errorEmail" style="color:red;display:none ">Địa chỉ Email không hợp lệ</label>

                </div>
                <div class="form-group">
                    <label>Địa chỉ</label>
                    <input type="text" class="form-control" asp-for="Address" value="@Model.Address" placeholder="Nhập địa chỉ">
                    <label id="errorAddress" style="color:red;display:none ">Vui lòng nhập địa chỉ khách hàng</label>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" data-id="@Model.EmployeeId" class="btn btn-primary btnCreate">Tạo</button>
        <button type="reset" data-id="@Model.EmployeeId" class="btn btn-secondary btnCancel" data-dismiss="modal">Hủy</button>
    </div>
    <div hidden class="DateAdd">@DateTime.Now.ToString("yyyyMMddHHmmssfffffff")</div>
</form>

<script src="~/Admin/js/Employee.js"></script>

