@model BookStore.Models.Employee
<div class="modal-body" id="modalBody">
    <div style="padding: 0 15px 0 15px">
        <div class="row">
            <div class="form-group row">
                <label class="col-sm-6 col-form-label"><b>Họ: </b></label>
                <div class="col-sm-4">
                    <input type="text" readonly="" class="form-control-plaintext" value="@Model.LastName">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-6 col-form-label"><b>Tên: </b></label>
                <div class="col-sm-6">
                    <input type="text" readonly="" class="form-control-plaintext" value="@Model.FirstName">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-6 col-form-label"><b>ID: </b></label>
                <div class="col-sm-6">
                    <input type="text" readonly="" class="form-control-plaintext" value="@Model.EmployeeId">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-6 col-form-label"><b>Username: </b></label>
                <div class="col-sm-4">
                    <input type="text" readonly="" class="form-control-plaintext" value="@Model.UserName">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-6 col-form-label"><b>Password: </b></label>
                <div class="col-sm-6">
                    <input type="text" readonly="" class="form-control-plaintext" value="************">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-6 col-form-label"><b>Địa chỉ: </b></label>
                <div class="col-sm-6">
                    <input type="text" readonly="" class="form-control-plaintext" value="@Model.Address">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-6 col-form-label"><b>Email: </b></label>
                <div class="col-sm-4">
                    <input type="text" readonly="" class="form-control-plaintext" value="@Model.Email">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-6 col-form-label"><b>Điện thoại: </b></label>
                <div class="col-sm-6">
                    <input type="text" readonly="" class="form-control-plaintext" value="@Model.Phone">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-6 col-form-label"><b>Ngày sinh: </b></label>
                <div class="col-sm-6">
                    <input type="text" readonly="" class="form-control-plaintext" value="@Model.BirthDate?.ToString("dd-MM-yyyy")">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-6 col-form-label"><b>Cấp bậc: </b></label>
                <div class="col-sm-6">
                    <input type="text" readonly="" class="form-control-plaintext" value="@Model.RoleNavigation.RoleName">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-6 col-form-label"><b>Quản lý bởi: </b></label>
                <div class="col-sm-6">
                    @if (Model.Manager != null)
                    {
                        <input type="text" readonly="" class="form-control-plaintext" value="@Model.Manager.FirstName @Model.Manager.LastName">
                    }
                    else
                    {
                        <input type="text" readonly="" class="form-control-plaintext" value="NULL">
                    }
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-6 col-form-label"><b>Ngày tạo: </b></label>
                <div class="col-sm-6">
                    <input type="text" readonly="" class="form-control-plaintext" value="@Model.CreatedDate?.ToString("dd-MM-yyyy hh:mm:ss")">
                </div>
            </div>
        </div>
        
        <div>
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>
