@model Product
@using BookStore.Helpers;
@{
    ViewData["Title"] = "Chi tiết";
}
<style>
    .flex-control-thumbs li img {
        width: 100px;
        height: 120px;
    }

    .flex-direction-nav a.flex-next::before {
        content: "\f105";
    }

    .detail {
        font-size: 18px;
    }
</style>
<!-- product-main-area-start -->
<style>
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<br />
<link href="~/css/ProductItem.css" rel="stylesheet" />

<div class="product-main-area mb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                <!-- product-main-area-start -->
                <div class="product-main-area">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                            <div class="flexslider">
                                <ul class="slides">
                                    @{
                                        IEnumerable<ProductImages> images = Model.ProductImages;
                                        <li data-thumb="~/Image/Product/@Model.ImageCover">
                                            <img src="~/Image/Product/@Model.ImageCover" style="width:200px;height:300px" alt="img" />
                                        </li>
                                        foreach (var image in images)
                                        {

                                            <li data-thumb="~/Image/Product/@image.ProductImage">
                                                <img src="~/Image/Product/@image.ProductImage" style="width:200px;height:300px" alt="img" />
                                            </li>
                                        }
                                    }

                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                            <div class="product-info-main">
                                <div class="page-title">
                                    <h1>@Model.ProductName</h1>
                                </div>
                                <div class="product-info-stock-sku detail">

                                    <div>
                                        <span>Nhà xuất bản: </span>
                                        <span class="value">@Model.Publisher.PublisherName</span>
                                    </div>
                                    <div>
                                        <span>Thể loại: </span>
                                        <span class="value">@Model.Category.Name</span>
                                    </div>
                                    <div>
                                        <span>Tình trạng: </span>
                                        @{
                                            if (Model.Quantity > 0)
                                            {
                                                <span>Còn hàng</span>
                                            }
                                            else
                                            {
                                                <span>Hết hàng</span>
                                            }
                                        }
                                    </div>
                                    <div>
                                        @{
                                            if (Model.Discount != 0)
                                            {
                                                <span>Giảm: </span>
                                                <span style="font-weight: bold;color: #ff3425;">@Model.Discount%</span>
                                            }
                                        }
                                    </div>
                                </div>

                                <div class="product-info-price">
                                    <div class="price-final">
                                        @{
                                            if (Model.PromotionPrice == 0)
                                            {
                                                <span>@String.Format("{0:0,0 VNĐ}", Model.Price)</span>
                                            }
                                            else
                                            {
                                                <span>@String.Format("{0:0,0 VNĐ}", Model.PromotionPrice)</span>
                                                <span class="old-price">@String.Format("{0:0,0 VNĐ}", Model.Price)</span>

                                            }
                                        }

                                    </div>

                                </div>
                                <div class="product-add-form">
                                    <form action="#">
                                        <div class="quality-button">
                                            <input class="qty" id="quantityNumber" type="number" value="1">
                                        </div>
                                        <a style="cursor:pointer" onclick="onClickAddToCart(@Model.ProductId,$('#quantityNumber').val());">Add to cart</a>
                                    </form>
                                </div>
                                @*<div class="product-social-links">
                                        <div class="product-addto-links">
                                            <a href="#"><i class="fa fa-heart"></i></a>
                                            <a href="#"><i class="fa fa-pie-chart"></i></a>
                                            <a href="#"><i class="fa fa-envelope-o"></i></a>
                                        </div>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>
                <!-- product-main-area-end -->
                <div id="comment"></div>
                <!-- product-info-area-start -->
                <div class="product-info-area mt-80">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#Details" data-toggle="tab">Mô tả</a></li>
                        <li><a href="#Reviews" data-toggle="tab">Bình luận</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="Details">
                            <div class="valu">
                                @Html.Raw(Model.Description)
                            </div>
                        </div>
                        <div class="tab-pane" id="Reviews">
                            @{
                                var user = Context.Session.GetObject<Customer>("Customer");
                                if (User.Identity.IsAuthenticated)
                                {
                                    <div>
                                        <textarea class="form-control" style="resize:none" placeholder="viết bình luận..." rows="3" id="writeComment"></textarea>
                                        <br />
                                        <input type="button" data-id="@Model.ProductId" class="btn btn-primary btnSendComment" style="margin-bottom:20px" value="Gửi" />
                                        <input type="button" class="btn btn-danger btnCancel" style="margin-bottom:20px; display:none" value="Hủy" />
                                    </div>
                                }
                                else
                                {
                                    <div style="margin-bottom:50px">
                                        <h4> <a asp-controller="User" asp-action="Login">Đăng nhập</a> để có thể bình luận sản phẩm</h4>
                                    </div>
                                }
                            }


                            <ul class="media-list" id="comments" data-id="@Model.ProductId"></ul>
                        </div>
                    </div>
                </div>
                <!-- product-info-area-end -->
                <!-- new-book-area-start -->
                <br />
                <div class="upsell">
                    <div class="section-title text-center mb-30">
                        <h3>Sản phẩm mới nhất</h3>
                    </div>
                    <div class="tab-active-2 owl-carousel ">
                        @{
                            IEnumerable<Product> newProducts = ViewBag.newProducts;
                        }
                        @foreach (var p in newProducts)
                        {
                            <!-- single-product-start -->
                            <div class="product-wrapper" title="@p.ProductName">
                                <div class=" text-center">
                                    <a asp-action="DetailPage" asp-route-loai="@p.Category.UrlFriendly" asp-route-hanghoa="@p.UrlFriendly">
                                        <div style="text-align:center">
                                            <img src="~/Image/Product/@p.ImageCover" style="width:160px;height:220px" class="center" alt="book" />
                                        </div>
                                    </a>
                                    <div class="quick-view" style="cursor:pointer;">
                                        <a class="action-view quickViewModal" data-id="@p.ProductId" data-target="#productModal" data-toggle="modal" title="Quick View">
                                            <i class="fa fa-search-plus"></i>
                                        </a>
                                    </div>
                                    <div class="product-flag">
                                        <ul>
                                            <li><span class="sale">new</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-details text-center">
                                    <div class="divAreaContent">
                                        <a asp-action="DetailPage" asp-route-loai="@p.Category.UrlFriendly" asp-route-hanghoa="@p.UrlFriendly">@p.ProductName</a>
                                    </div>
                                    <div class="product-price">
                                        <ul>
                                            @{
                                                if (p.PromotionPrice == 0)
                                                {
                                                    <li style="font-family:Arial; font-weight:normal;">@String.Format("{0:0,0 VNĐ}", p.Price)</li>
                                                }
                                                else
                                                {
                                                    <li style="font-family:Arial; font-weight:normal;">@String.Format("{0:0,0 VNĐ}", p.PromotionPrice)</li>
                                                    <li class="old-price" style="font-family:Arial; font-weight:normal;">@String.Format("{0:0,0 VNĐ}", p.PromotionPrice)</li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-link">
                                    <div class="product-button">
                                        <a style="cursor:pointer" onclick="onClickAddToCart(@p.ProductId,1);" title="Add to cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                    </div>
                                    <div class="add-to-link">
                                        <ul>
                                            <li><a asp-action="DetailPage" asp-route-loai="@p.Category.UrlFriendly" asp-route-hanghoa="@p.UrlFriendly" title="Details"><i class="fa fa-external-link"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- single-product-end -->
                        }

                    </div>
                </div>
                <!-- new-book-area-start -->
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <div class="shop-left">
                    <div class="left-title mb-20">
                        <h4>Sản phẩm liên quan</h4>
                    </div>
                    <div class="random-area mb-30">
                        <div id="newProducts" class="product-active-2 owl-carousel">
                            @{
                                IEnumerable<Product> relativeProducts = ViewBag.relativeProducts;
                                int count = 0;
                                foreach (var p in relativeProducts)
                                {
                                    if (count % 3 == 0)
                                    {
                                        @:<div class="product-total-2">
                                        }

                                        <div class="single-most-product bd mb-18">

                                            <div class="most-product-img">
                                                <a href="/@p.Category.UrlFriendly/@p.UrlFriendly"><img src="~/Image/Product/@p.ImageCover" style="width:80px;height:110px" class="center" alt="book" /></a>
                                            </div>
                                            <div class="most-product-content">
                                                <h4><a href="/@p.Category.UrlFriendly/@p.UrlFriendly">@p.ProductName</a></h4>
                                                <div class="product-price">
                                                    <ul>
                                                        @{
                                                            if (p.PromotionPrice == 0)
                                                            {
                                                                <li>@String.Format("{0:0,0 VNĐ}", p.Price)</li>
                                                            }
                                                            else
                                                            {
                                                                <li style="font-family:Arial; font-weight:normal;">@String.Format("{0:0,0 VNĐ}", p.PromotionPrice)</li>
                                                                <li class="old-price" style="font-family:Arial; font-weight:normal;">@String.Format("{0:0,0 VNĐ}", p.Price)</li>
                                                            }
                                                        }


                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        count++;
                                        if (count % 3 == 0)
                                        {
                                        @:</div>
                                    }
                                }
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Modal-->
<div class="modal fade" id="productModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
            </div>
            <div class="modal-body modalBody">
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/jsScriptByMySelf/UpdateCart.js"></script>
    <script src="~/js/jsScriptByMySelf/detail-page.js"></script>


}
<!-- product-main-area-end -->
