@model IEnumerable<BookStore.Models.Customer>
<!-- BEGIN Main Content -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-title">
                <h3><i class="fa fa-table"></i>Table Customer</h3>
                <div class="box-tool">
                    <a data-action="collapse" href="#"><i class="fa fa-chevron-up"></i></a>
                    <a data-action="close" href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="box-content">
                <div class="btn-toolbar pull-right clearfix">
                    <div class="btn-group">
                        <a class="btn btn-circle show-tooltip btnAdd" data-target="#modalDetail" data-toggle="modal" title="Add new record"><i class="fa fa-plus"></i></a>
                        <a class="btn btn-circle show-tooltip" title="Export to CSV" asp-action="ExportCSVUserList"><i class="fa fa-table"></i></a>
                        @*<a class="btn btn-circle show-tooltip" title="Export to Exel" asp-action="ExportExcelUserList"><i class="fa fa-table"></i></a>*@
                    </div>
                </div>
                <br /><br />
                <div class="clearfix"></div>
                <div class="table-responsive tableCustomer" style="border:0">
                    <table class="table table-advance" id="tableCustomers">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>FullName</th>
                                <th>Address</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Sex</th>
                                <th class="text-center" width="23%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var p in Model)
                            {
                                <tr class="table-flag-blue">
                                    <td><b>@p.CustomerId</b></td>
                                    <td>@p.FirstName @p.LastName</td>
                                    <td>@p.Address</td>
                                    <td>@p.Email</td>
                                    <td>@p.PhoneNumber</td>
                                    @{var sex = p.Sex == true ? "Nam" : "Nữ";}
                                    <td>@sex</td>
                                    <td class="text-center">
                                        <div class="btn-group">
                                            <p>
                                                <button class="btn btn-magenta btnDetail" data-id="@p.CustomerId" data-target="#modalDetail" data-toggle="modal"><i class="fa fa-eye"></i> Detail</button>
                                                <a class="btn btn-primary btnEdit" data-id="@p.CustomerId" data-target="#modalDetail" data-toggle="modal"><i class="fa fa-edit"></i> Edit</a>
                                                <button class="btn btn-danger btnDelete" data-id="@p.CustomerId"><i class="fa fa-trash-o"></i> Delete</button>
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END Main Content -->
<!-- Modal -->
<div class="modal fade" id="modalDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:1000px;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thông tin</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modalBody">
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="~/Admin/assets/data-tables/bootstrap3/dataTables.bootstrap.js"></script>
    <script src="~/Admin/js/Customer.js"></script>
}
